.App {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
body {
    margin: 0px;
    justify-content: space-between;
    
}

button {
    padding: 0;
    border: none;
    background: none;
}

.header_container {
    background-color: #000000c7;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
}

.header_logo {
    height: 30px;
    margin: 20px;
    margin-top: 22px;
    display: flex;
    align-items: center;
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.header_logo:hover {
    opacity: 0.2;
}

.header_title {
    display: flex;
    align-items: center;
    color: white;
    font-family: Oswald;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    margin-right: 215px;
    margin-top: 18px;
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.header_title:hover {
    opacity: 0.2;
}

.header_spacer {
    width: 75%;
}

.Footer {
    background-color: #000000c7;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 67px;
    left: 0px;
  
}

.Footer_logo {
    height: 30px;
    margin: 20px;
    display: flex;
    align-items: center;
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.Footer_logo:hover {
    opacity: 0.2;
}

.Home {
    width: 100%;
    height: 86vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SoundList_Title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.SoundList {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px;
}

.SoundList_container {
    overflow-y: auto;
    width: 415px;
    list-style: none;
    padding: 0;
}

.Sound_container {
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    margin-right: 55px;
    opacity: 1;


}

.Sound_container:hover {
    background-color: #404040;
    color: white;

    
}
.Sound_container_selected {
    background-color: #40404084;
    color: white;
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    margin-right: 55px;
    opacity: 1;


    
}

 .Sound_container .playPause_button:hover {
   
    color: white;
    filter: invert(100%);
    
}

 .Sound_container .delete_button:hover {
   
    color: white;
    filter: invert(100%);
    
}

.Sound_image {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.Sound_info_container {
    justify-items: right;
}

.Sound_mainInfo {
    list-style: none;
    text-align: right;
    margin-bottom: 5px;
}
.Sound_name {
    font-size: 15px;
    font-weight:100;
}

.Sound_author {
    font-size: 11px;
}
.Sound_subInfo {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    padding: auto;
}
.Sound_location {
    font-size: 11px;
    padding-right: 5px;
}

.Sound_category {
    font-size: 11px;
    padding-left: 5px;
}


.Sound_buttons_Container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 20px;
    padding-top: 20px;
}
.playPause_button {
    
    color: #000000;
    padding-left: 40px;
    
}

.MapSection {
    background-color: white;
    display:block;
    width: 40%;
    min-height: 40vh;
    font-family: 'Open Sans';
    padding: 10px;
    

}

.Map_container {
    background-color: white;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    font-family: 'Open Sans';
    padding: 10px;

}

.FormSection {
    background-color: rgb(255, 255, 255);
    width: 19%;
    min-height: 40vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    padding: 25px;
     overflow-y: auto;
}

.FormTitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    padding-left: 10px;
}

.Form {
    display: flex;
    flex-direction: column;
    padding: 10%;
   
    
}

.InputForm {
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 20px;
    color: #5b5b5b;
    font-family: 'Open Sans';
    font-size: 12px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.buttonForm {
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 25px;
    color: white;
    background-color: lightgray;
    font-family: 'Open Sans';
    font-size: 12px;
}
.buttonForm:hover {
background-color: #5b5b5b
}

.Navigation {
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    font-family: Oswald;
    margin-left: 10px;
    margin-right: 22px;
}

.Navigation_buttons {
    display: flex;
    align-items: center;
    color: white;
    font-family: Oswald;
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.Navigation_buttons:hover {
    opacity: 0.2;
}

.About {
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.About_container {
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}

.About_profilePic {
    height: 150px;
    border-radius: 50%;
    opacity: 0.9;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.About_profilePic:hover {
    opacity: 1;
    border-radius: 10%;
}

.map_container {
    display: flex;
    width: 40%;
    padding: 10%;
    min-height: 40vh;

}

.gm-style img {
    max-width: none;
    border-radius: 50px;
    border: #5b5b5b;
    
}